<h1>Payment Information</h1>

<p>
  Dear Customer
</p>

 <h5> Thank You For Purchasing And We hope you like Our Services The Product Informantion given Below</h5>
 <hr>

<h4 align="center">Product Info</h4>

<p align="center"><strong> Product :- </strong>
  <%= @product.name+" "%>
</p>
<p><strong> Price per Unit :- </strong><%= @product.price%></p>
<p><strong> Total Unit Purchased :-</strong><%= @product_qty %></p>
<p><strong> Total Price :- </strong><%= @product.price*@product_qty.to_i %></p>


<hr>

<h5>Thanks to visit our website. </h5>